seifbaichoo.com www.seifbaichoo.com {
  # Production - auto HTTPS, HTTP → HTTPS redirect
  encode gzip
  reverse_proxy localhost:3000
}

test.seifbaichoo.com {
  # Staging - auto HTTPS, HTTP → HTTPS redirect
  encode gzip
  reverse_proxy localhost:3001
}
